// Import page-specific CSS files here.
@import "home";
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
 font-family: 'Questrial', ;
}

h1 {
  font-family: 'Questrial', ;
}
