// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktail-list {
  list-style: none;
  padding:0;
}

.fa-cocktail {
  color: pink;
}

li {
color: black;
}
